{% block body %}
    {% if((sortie.getNbinscriptionsmax() - sortie.getParticipantsNoParticipant().count())>((2/3)*sortie.getNbinscriptionsmax()))  %}
        <td class="text-success">
    {% elseif ((sortie.getNbinscriptionsmax() - sortie.getParticipantsNoParticipant().count())>=((1/3)*sortie.getNbinscriptionsmax()))%}
        <td class="text-warning">
    {% else %}
        <td class="text-danger">
    {% endif %}
    {{ sortie.getNbinscriptionsmax() - sortie.getParticipantsNoParticipant().count() }}
    /
    {{ sortie.getNbinscriptionsmax() }}
{#    {{sortie.getNbinscriptionsmax() - sortie.getParticipantsNoParticipant().count() }}#}
{#    {{((2/3)* sortie.getNbinscriptionsmax())}}#}
    </td>
{% endblock %}