{% block body %}
    <td>
        {% if(sortie.getEtatsNoEtat()=="Ouverte" and sortie.getOrganisateur()!=app.user and not (app.user in sortie.getParticipantsNoParticipant)) %}
            <a href="{{ path('Inscrire', { 'noSortie': sortie.getNoSortie() }) }}">S'inscrire</a>
        {% endif %}
        {% if(sortie.getEtatsNoEtat()=="Ouverte" and sortie.getOrganisateur()!=app.user and (app.user in sortie.getParticipantsNoParticipant)) %}
            <a href="{{ path('Deinscrire', { 'noSortie': sortie.getNoSortie() }) }}">Se désister</a>
        {% endif %}
        {% if(sortie.getEtatsNoEtat()=="Créée") and sortie.getOrganisateur()==app.user %}
            <a href="{{ path('Publier', { 'noSortie': sortie.getNoSortie() }) }}">Publier</a>
        {% endif %}
    </td>
{% endblock %}