<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LeTitre{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
        {% block body %}un pied de page oO{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
